<form action="/signin" method="post" >
	ENTER YOUR ENROLLMENT NUMBER<input type="text" name="roll_no" placeholder="Enrollment No"><br><br>
	ENTER YOUR NAME:<input type="text" name="name" placeholder="Name"><br><br>
	BRANCH:<input type="text" name="branch" placeholder="branch"><br><br>
	PASSWORD:<input type="password" name="password" placeholder="password"><br><br>

	<input type="submit" name="submit" value="signin">
</form>
