<form action="/register" method="post" >
	<input type="text" name="roll_no" placeholder="Enrollment No"><br><br>
	<input type="text" name="name" placeholder="Name"><br><br>
	<input type="text" name="branch" placeholder="branch"><br><br>
	<input type="password" name="password" placeholder="password"><br><br>		
    <input type="submit" name="submit" value="register">
</form>